html, body {
    font-family: sans-serif;
}

svg {
    border: 1px solid blueviolet;
}

rect {
    stroke-width: 1;
    stroke: brown;
}

#names {
    /* fill: chocolate; */
    transform: rotate(90deg);
}