html, body {
    font-family: sans-serif;
}

svg {
    border: 2px solid rgb(210, 179, 238);
}

rect {
    stroke-width: 1;
    stroke: brown;
}

#names {
    /* fill: chocolate; */
    transform: rotate(90deg);
}

line {
    stroke: rgb(100, 100, 116);
    stroke-width: 2; 
}